* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-green: hsl(160deg, 100%, 30%);

  --secondary-gold-light: hsl(45deg, 100%, 50%);
  --secondary-gold-dark: hsl(45deg, 100%, 40%);

  --grey-1-white: hsl(0deg, 0%, 100%);
  --grey-2-light: hsl(0, 0%, 60%);
  --grey-3-medium: hsl(0, 0%, 40%);
  --grey-4-dark: hsl(0deg, 0%, 30%);
  --grey-5-very-dark: hsl(0deg, 0%, 10%);
  --grey-6-black: hsl(0deg, 0%, 0%);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
/* Solution: https://github.com/css-for-js/huckleberry/commit/ec891a3603e04f29556a0faff0a1a1168780011f */
.max-width-wrapper {
  margin-inline: auto;
  padding-inline: 24px;
  max-width: 800px;
}

h1 {
  font-size: 2rem;
}
p {
  font-size: 1.25rem;
  line-height: 150%;
  margin-block: 16px;
}
p:last-child {
  margin-block-end: 0;
}

.intro-chunk,
main {
  padding-block: 64px;

  h1 {
    margin-block: 32px;
  }
}

.intro-chunk {
  strong {
    color: var(--primary-green);
  }

  p {
    max-width: 400px;
  }
}

.card {
  padding: 24px;
  background-color: var(--grey-1-white);
  margin-inline: -24px;
}

.card,
header {
  border-bottom: 8px solid var(--grey-2-light);
}

.indented-heading {
  font-size: 1.5rem;
  margin-block-start: -16px;
  margin-inline-start: -32px;
  padding: 16px 32px;
  width: fit-content;
  background-color: var(--secondary-gold-light);
  border-bottom: 8px solid var(--secondary-gold-dark);
}

main {
  background-color: var(--grey-3-medium);
}
